@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #08070b;
  --selection-color: #ff69b4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08070b;
    --foreground: #ededed;
  }
}

::selection {
  background: var(--selection-color);
  color: black;
}

::-moz-selection {
  background: var(--selection-color);
  color: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
