@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08070b;
  --foreground: #ededed;
  --selection-color: #ff69b4;
}

::selection {
  background: var(--selection-color);
  color: black;
}

::-moz-selection {
  background: var(--selection-color);
  color: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo personalizado para o cursor da animação de digitação */
.react-type-animation-cursor::after {
  content: '|';
  color: #f87171; /* text-red-400 */
  animation: blink 1s infinite;
  font-weight: normal;
  font-size: inherit;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
